/build
/var
/.classpath
/.settings
/.project
/eclipse-bin/
/.idea
scala2.11
.DS_Store
*.pyc
.coverage
.cache
*.iml
/.mypy_cache
/__pycache__
doc/_apidoc
test/build/
.pytest_cache
.venv
.mypy_cache
_swagger
!.gitignore
.attach_pid*
.vscode/

